<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <timestamp key="DATE_FORMAT" datePattern="yyyy-MM-dd" />
    <property name="CONSOLE_LOG_PATTERN" value="%highlight([%-5level]) %yellow(%d{yyyy-MM-dd HH:mm:ss}) %cyan([%thread]) %magenta([%logger{0}:%line]) - %message %n" />

    <include resource="appenders/console-appender.xml" />
    <logger name="com.project.server" level="DEBUG" />
    <root level="INFO">
        <appender-ref ref="CONSOLE_APPENDER" />
    </root>
</configuration>